body{
    margin: 0px;
    padding: 0px;
}

.heading{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.stopwatch{
    display: flex;
    justify-content: center;
    gap: 10px;
}